.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex: 1;
  font-weight: bold;
  font-size: 14px;
}

.header p:nth-child(1) {
  color: var(--blue);
}

.header p:nth-child(2) {
  color: var(--purple);
}

.header span {
  background: var(--gray-400);
  color: var(--gray-200);
  padding: 0.125rem 0.5rem;
  border-radius: 999px;
  margin-left: 0.5rem;
}
